/* Landing section */
.hero {
  background: #eee;
  padding: 20px;
  border-radius: 10px;
  margin-top: 1em;
}

section {
  padding-top: 1em;
  padding-bottom: 1em;
}

h2 {
 border-bottom: 1px solid #eee; 
}


/*Extra Msg types*/
/*Modeled on Bootstrap Alerts*/
.msg.danger {
  border-color: #e44; 
  background: #fdd;
}

.msg.warning {
  border-color: #ffcc00;
  background: #faebcc;
}

.msg.success {
  border-color: #2d2;
  background: #dfd;
}

/*Table of Contents styling*/
#toc li{
  margin-bottom: 0.5em;
}

/* Alternate section background colors */
/*section:nth-child(even) {
    color: #000; 
    background-color: #b1b8e3;
    }*/

/*section:nth-child(odd) {
    color:#fff;
    background-color: #26316d;
    }*/

/* Definition Display */
/* Credit to : */
/* https://github.com/you-dont-need/You-Dont-Need-JavaScript#info-on-hover-popover */
dfn {
  /*background: #e9e9e9;*/
  border-bottom: dashed 1px rgba(0,0,0,0.8);
  padding: 0 0.4em;
  cursor: help;
  font-style: normal;
  position: relative;

}
dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px; left: 0;
  opacity: 0;
  width: 230px;
  /*font-size: 13px;*/
  font-size: 0.875em;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  background: rgba(0,0,0,0.8);
  color: #fff;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
}
dfn::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px; left: 20px;
  opacity: 0;
  width: 0; height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(0,0,0,0.8);
  transition: opacity 250ms, top 250ms;
}
dfn:hover {z-index: 2;} /* Keeps the info boxes on top of other elements */
dfn:hover::after,
dfn:hover::before {opacity: 1;}
dfn:hover::after {top: 30px;}
dfn:hover::before {top: 20px;}