/*Headings*/
h1,h2,h3 {
    text-align: center;
    line-height: 1.2;
}

/*Main Content*/

body {

    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0
}

/*Tables*/
table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left
    }